:root {
    --primary-color:  #369746;
    --secondary-color: #7275f1;
    --accent1-color: #b64949;
    --accent2_color: #999;
    --heading-font: "Times New Roman","Georgia" serif;
    --body-font: Arial, Helivetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2_color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p,section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}
