:root {
    --primary-color:  #369746;
    --secondary-color: #7275f1;
    --accent1-color: #b64949;
    --accent2_color: #999;
    --heading-font: "Times New Roman","Georgia" serif;
    --body-font: Arial, Helivetica, sans-serif;
}
